
@{
  ViewBag.Title = "Document Upload";
}
<h3> Document Upload</h3>
<input type="file" id="FileUpload1" />
<br />
<input type="button" id="btnUpload" value="Upload Files" accept="application/pdf" />
<input type="button" id="btnRefresh" value="Refresh" />
<br />
<br />
<div id="dvDetails" style="width: 50%; height: 130px;">

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

  $(document).ready(function () {

    $(function () {
      GetDocs();
    });

    $('#btnUpload').click(function () {

      // Checking whether FormData is available in browser
      if (window.FormData !== undefined) {

        var fileUpload = $("#FileUpload1").get(0);
        var files = fileUpload.files;

        // Create FormData object
        var fileData = new FormData();

        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
          fileData.append(files[i].name, files[i]);
        }

        $.ajax({
          url: '/Document/UploadFiles',
          type: "POST",
          contentType: false, // Not to set any content header
          processData: false, // Not to process data
          data: fileData,
          async: false,
          success: function (result) {
            alert(result);
            GetDocs();
          },
          error: function (err) {
            alert(err.statusText);
          }
        });
      } else {
        alert("FormData is not supported.");
      }
    });
    $('#btnRefresh').click(function () {
      GetDocs();
    });
  });
  function GetDocs() {
    $.ajax({
      url: '/Document/DocumentList',
      type: "GET",
      contentType: 'application/html; charset=utf-8',
      type: 'GET',
      dataType: 'html',
      success: function (result) {
        debugger;
        $('#dvDetails').html(result);
      },
      error: function (err) {
        alert(err.statusText);
      }
    });
  }
</script>

